.Cuadro-datos{
    background-color: #035263;
    height: 100%;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 1.5%;
    border-radius: 10px;
    
}

.Cuadro-datos input{
    background-color: #BDD040;
    border-color: #BDD040;
    margin-top: 1%;
    
}

.Cuadro-productos{
    background-color: #E67B22;
    height: 100%;
    margin-left: 3%;
    padding: 1%;
    border-radius: 10px;
}

.Productos-total{
    display: flex;
    justify-content: space-between;
    
}

.Cuadro-total{
    background-color: #565ABB;
    padding: 2%;
    margin-right: 3%;
    border-radius: 10px;    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boton-carrito{
    margin: 5% 40%;

}